@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a site for querying data from real LA crimes. Register to be able to query the data.</p>
</div>
